# Compiled Products
*.dll
*.lib
*.exe

# Allow precompiled bass.dll versions
!lib/bass

# Intermediate Files
intermediate
*.pdb
*.ilk
*.obj
*.iobj
*.ipdb

# Visual studio plz
.vs
*.vcxproj.user

# Not adding photoshop source files for textures
*.psd
